* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: "Inter", "Segoe UI", sans-serif;
  background-color: #f8fafc;
}

.main-content {

  min-height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;
}